#chessboard {
    margin-left: 40%;
    margin-top: 8rem;
    width: 320px;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
}
p{
    margin-left: 50%;
}

.square {
    height: 40px;
    width: 40px;
}

.square svg{
    width: 30px;
    height: 30px;
    margin: 5px;
}

.w {
    background-color: rgb(72, 52, 94);
}

.b {
    background-color: rgb(116, 142, 165);
}

.blackPiece{
    fill: black;
}

.whitePiece{
    fill: white;
}